.sidebar-brand-text {
    text-align: center;
}

.user-detail-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px
}

.dropdown-toggle.user span,
.dropdown-toggle.user strong {
    font-size: 0.8rem;
}

.dropdown-toggle.user:hover {
    color: #000;
}

.dropdown-toggle.user:hover,
.dropdown-toggle.user:visited,
.dropdown-toggle.user:link,
.dropdown-toggle.user:active {
    text-decoration: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}